/* Estilos Gerais */
.about-us-container {
  padding-top: 3rem;
  margin: auto;
  /* max-width: 1500px; */
}

.logo-container {
  width: 95%;
  display: block;
  max-width: 1800px; 
  margin: auto;
}

/* Estilos para a galeria de clientes */
.client-gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centraliza os itens da galeria */
  padding: 20px;
  margin: auto;
}

.client-gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  margin-bottom: 20px;
  border-radius: 4px;
  width: calc(25% - 20px); /* 4 itens por linha */
  margin: auto;
}

.client-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Estilos para o texto dos clientes */
.client-name {
  font-weight: 800;
  margin: 10px 0;
  font-size: xx-large;
}

.client-detail {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

/* Estilos para o cabeçalho e texto da seção 'Sobre nós' */
.logo-title-text {
  height: 25%;
  width: 95%;
  /* max-width: 1500px; */
  margin: 0 auto;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  background-color: black;
  font-family: 'Protest Strike', sans-serif;
}

.about-title {
  font-size: 5vw;
  font-weight: 900;
  margin: 10px 0;

}

.team-title{
  margin-bottom: 6%;
  font-size: 5vw;
  font-weight: 900;
}

.about-text {
  font-size: 3.5vw;
  line-height: 1.5;
  max-width: 95%;
  margin-bottom: 6%;
}

/* Media Queries */
/* @media (max-width: 824px) {
  .client-gallery-item {
    width: calc(25% - 20px);
  }
} */

@media (min-width: 825px) {
  /* Para telas maiores que 825px, mantemos 4 itens por linha como padrão */
  .logo-title-text {
    height: auto;
  }


  .client-detail {
    font-size: large;}
  
    .client-gallery-item {
      width: calc(15% - 20px);
    }

  .about-title {
    font-size: 5vw;
  }

  .about-text {
    font-size: 2vw;
  }
}

/* Estilo para o logo na parte superior */
.client-logo {
  margin-top: 6%;
  width: 15%;
  display: block;
}
