
  





  .team-gallery-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens passem para a linha seguinte se não houver espaço suficiente */
    gap: 20px; /* Espaço entre os itens da galeria */
    justify-content: space-around; /* Espaçamento igual em torno dos itens */
    width: 95%;
    margin: auto;
  }
  
  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    border-radius: 4px;
    width: 100%; /* Por padrão, cada item tomará a largura inteira do contêiner */
  }
  
  /* Estilos para imagens e informações da equipe */
  .team-photo {
    width: 100%;
    height: auto;
  }
  
  .team-info {
    text-align: center;
  }
  
  .credit-title {
    font-family: 'Protest Strike', sans-serif;
    font-weight: 800;
    font-size: 2.0vh;
    margin-top: 10px ;
  }
  
  .credit-category {
    font-family: 'Protest Strike', sans-serif;
    font-weight: 700;
    font-size: 1.8vh;
    color: #666;
  }
  


  
  /* Media query para telas com largura maior que 825px */
  @media (min-width: 825px) {
    .team-member {
      width: calc(50% - 10px); /* Cada item tomará um pouco menos de metade da largura do contêiner para ajustar o gap */
    }
  }
  