.detail-gallery, .featured-media {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 70%;
  margin: auto;
  padding-top: 2px;
}

.featured-media {
  max-height: 88vh; /* Altura máxima definida para 88vh */
  overflow: hidden;
  position: relative;
  width: 100%;
}

.featured-media::before {
  content: '';
  display: block;
  padding-top: 56.25%; /* Mantém a proporção de 16:9 */
}

.featured-media img,
.featured-media iframe,
.featured-media video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-container {
  display: flex;
  flex-wrap: wrap; /* Permite múltiplas linhas */
  justify-content: center; /* Alinha as miniaturas ao início */
  margin-top: 10px;
  gap: 10px; /* Espaçamento uniforme entre miniaturas */
}

.thumbnail {
  flex: 1 0 calc(20% - 10px); /* Ajuste para 5 itens por linha com espaçamento */
  max-width: calc(20% - 10px); /* Limita o máximo de largura para manter a consistência */
}

.thumbnail-media {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Mantém a proporção de 16:9 */
  height: 0;
  background-size: contain;
  background-position: center;
}

.thumbnail-media img,
.thumbnail-media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Ajustes para tamanhos de tela menores */
@media (max-width: 800px) {
  .thumbnail {
    flex: 1 0 calc(50% - 10px); /* Ajuste para 2 itens por linha */
    max-width: calc(50% - 10px); /* Mantém a consistência na largura */
  }
}
