
/*Animação filtro galeria*/


.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}
.fade-exit {
  opacity: 1;
 
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.filter-container {
  text-align: center;
}

.filter-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  transition: all 0.3s ease;
  font-family: "Protest Strike", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.filter-btn:hover {
  /* text-decoration: underline; */
}

.filter-btn.active {
  /* text-decoration: underline; */
}

@media (max-width: 800px) {
  .filter-container {
    margin-top: 20px;

  }
}