.navbar {
    display: flex;
    justify-content: space-between; /* Distribui espaço entre logo e menu */
    align-items: end;
    padding: 1rem 2rem;
    background-color: #ffffff;
    height: 10vh;
    position: relative;
    min-height: min-content;
}

.navbar-container {
    width: 95%; /* Largura padrão para telas menores */
    margin: 0 auto; /* Centraliza o conteúdo */
    transition: width 0.3s ease; /* Transição suave para mudanças de largura */
    display: flex; /* Adiciona flex para alinhar logo e menu */
    justify-content: space-between; /* Distribui espaço entre logo e menu */
    position: relative;
    align-items: center;
}

/* Estilo para telas com largura igual ou superior a 1400px */
@media (min-width: 1400px) {
    .navbar-container {
        width: 88%; /* Largura para telas maiores */
    }
}

.logo {
    
    margin-bottom: 50px;
}



.menu {
    display: flex; /* Alinha os links horizontalmente */
    align-items: flex-end; /* Centraliza os links verticalmente */
    justify-content: flex-end; /* Alinha os links à direita */
    height: 100%; /* Ocupa a altura total da navbar */
}

.menu span {
    margin-inline-end: 2rem; /* Ajuste conforme necessário */
    cursor: pointer;
    color: #000000;

    
}

/* Para o último item do menu não ter margem à direita */
.menu span:last-child {
    margin-right: 0;
}


/*.menu .about {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #000;  Cor preta para o texto 
    text-decoration: none; 
    position: absolute; 
    bottom: 1rem; 
    right: 2rem; 
    transition: font-weight 0.1s ease; 
}*/

.menu .about:hover {
    font-weight: 700; /* Negrito ao passar o mouse */
}