/* Estilo principal da Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 1rem;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
}


.navbar :nth-child(0){
  margin-right: auto;
}




/* Estilo dos filtros e link 'About' */
 .regular-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; /* Permite que o menu cresça conforme necessário */
  padding-left: 1rem; /* Adiciona um pouco de espaço à esquerda dos filtros */
}

/* Div contendo os filtros */
#filtros {
  
  justify-content: center;
  flex-grow: 2; /* Permite que os filtros ocupem mais espaço */
  padding: 2px;
}

/* Botões de filtro */
.navbar .filtros button {
  margin: 0 5px; /* Espaçamento entre os botões */
  font-family: "Protest Strike", sans-serif;
  font-size: 12px;;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo do link 'About' */
.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  font-family: "Protest Strike", sans-serif;
  font-size: 12px;;
  font-weight: 800;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
  }

 

/* Ícone do menu para dispositivos móveis */
.navbar .menu-icon {
  display: none; /* Esconde por padrão, será exibido em uma media query abaixo */
  cursor: pointer;
}


.togle-menu{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.26);
  box-shadow: -10px 0 10px rgba(0, 0,0,0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
  display: none;

}

.togle-menu li{
  width: 100%;
}
.togle-menua{width: 100%;}

.menu-button{
  display: none;
}

/* Estilo para dispositivos móveis */
@media (max-width: 825px) {
  .hideOnMobile{
    display: none;
  }

  .menu-button{
    display:block;
  }
}

@media(max-width: 400px){
  .togle-menu{
    width: 100%;
  }
}
