/* CreditSection.css */

.credit-section {
  
  color: #000; /* Cor do texto preto */
  background-color: #fff; /* Fundo branco */
  padding: 10vh 0; /* Padding vertical de 1vh */
  line-height: 1.6; /* Espaçamento entre linhas */
  display: flex; /* Usa flexbox para alinhamento */
  flex-direction: column; /* Elementos empilhados verticalmente */
  width: 95%; /* Largura consistente com .detail-gallery */
  margin: auto; /* Centraliza na página */
  max-width: 2200px;
}

.credit-title {
  font-size: 3.5vw; /* Tamanho da fonte para o título */
  font-weight: bold; /* Título em negrito */
  margin-bottom: 0px; /* Espaço abaixo do título */
}

.credit-category {
  font-size: 1.2vw; /* Tamanho da fonte para categoria menor */
  font-weight: 300; /* Peso da fonte normal para categoria */
  margin-bottom: 30px; /* Espaçamento antes do autor */
}

.credit-label {
  font-weight: bold; /* Labels em negrito */
}
.credit-author {
  font-size: 1.4vw; /* Tamanho da fonte padrão para o autor */
  margin-bottom: .45rem; 
  font-weight: 800;/* Espaçamento acima do autor */
}



/* Pode-se reutilizar as mesmas regras de mídia que .detail-gallery para consistência */
@media (max-width: 800px) {
  .credit-section {
  }

  .credit-title {
    font-size: 5.5vw; /* Tamanho da fonte para o título */
  
  }
  
  .credit-category {
    font-size: 3.5vw; /* Tamanho da fonte para categoria menor */
  
  }
  
 
  .credit-author {
    font-size: 4vw; /* Tamanho da fonte padrão para o autor */
   
  }
}
